@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Remover País";
}

<h1>Remover País</h1>

<p>Tens a certeza de que queres remover o país "@Model.Name"?</p>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Remover</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>