@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Editar País";
}

<h1>Editar País</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}