@{
    ViewData["Title"] = "Sobre";
}

<div class="container mt-5">
    <h1 class="display-4">Sobre a Aplicação</h1>
    <p class="lead">
        Bem-vindo à app Sales_NET8.Web, onde podemos gerir informações básicas sobre países (criar, editar, ver e remover registos de países)
    </p>

    <h2>Funcionalidades CRUD</h2>
    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item"><strong>Inserir:</strong> Adicionar um novo país à base de dados.</li>
        <li class="list-group-item"><strong>Editar:</strong> Atualizar as informações de um país existente.</li>
        <li class="list-group-item"><strong>Detalhes:</strong> Visualizar informações detalhadas de um país.</li>
        <li class="list-group-item"><strong>Remover:</strong> Excluir um país da base de dados.</li>
    </ul>
</div>
