@{
    ViewData["Title"] = "Bem-vindo!";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à app "Sales_NET8.Web"!</h1>
    <p>Saiba mais sobre <a href="https://learn.microsoft.com/aspnet/core">como construir aplicações Web com ASP.NET Core</a>.</p>
</div>
